*{box-sizing: border-box;} html, body {margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}
.nocturne{background-color: #444444; color: aliceblue;} .diem{color:#444444}
body > header, main, body > aside, body > footer {padding: 5px;}.control{text-align: center;}.control > div{display: inline; margin: 1px auto 1px auto;}
nav{position: sticky; top: 0; padding: 1px; box-shadow: #444444 0 2px 3px 1px; background-color: #ffffff;} .mobile{position: absolute; top: 0; right: 0;}
nav button, .control button{border:none; padding: 15px 15px; background-color: transparent;margin: 1px;} .row {display: flex; flex-wrap: wrap; padding: 0 4px;}
.col {flex: 50%; padding: 0 4px;} .col img{ margin-top: 8px; vertical-align: middle;}nav a{padding: 15px; display: inherit;  text-decoration: none; color: currentColor;}
@media screen and (max-width:600px){
    nav > a:not(:first-child) {display: none;} nav.active > a {display: block;}
    figure img{width:100%;}
}
@media screen and (min-width:601px){
    body {
        display: grid;
        grid-template-areas: 
        'cab cab cab cab cab'
        'nav nav nav nav nav'
        'ban ban ban ban ban'
        'ban ban ban ban ban'
        'mai mai mai mai asi'
        'mai mai mai mai asi'
        'mai mai mai mai asi'
        'foo foo foo foo foo'
        'foo foo foo foo foo';
    }
    header{grid-area: cab;}nav{grid-area: nav;}#banner{grid-area:ban;}main{grid-area: mai;}footer{grid-area: foo;}
    aside{grid-area: asi;}
    .mobile {display: none;} nav a {display: inline-block;}figure img {width: 50%;}
}